{%  extends "base.html" %}
{%  block content %}
    <div class="container pt-5 pb-5 border">
        <div class="jumbotron mx-auto col-md-4" style="background: transparent;">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="form-group">
                        <h1 style="font-family: candara; color: white"> Edit Profile</h1>
                    </legend>
                    <div class="form-group">
                        {{ form.username.label(style="color:white;") }}<br>
                        {{ form.username(size=32, style="background:transparent; color:white") }}<br>
                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.about_me.label(style="color:white;") }}<br>
                        {{ form.about_me(cols=31, rows=4, style="background:transparent; color:white;") }}<br>
                        {% for error in form.about_me.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-sm btn-primary btn-block", value="Edit") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
