{% extends "base.html" %}
{% block content %}
    <div class="container pt-5 border">
        <div class="jumbotron">
        <h1 class="text-capitalize">{{ post.title }}</h1>
        <hr>
        <!-- <p>{{ post.title }}  :</p> -->
        <h4>Event Details: </h4>
        <p class="text-capitalize">{{ post.body }}</p>

            <h4>Expected social hours: </h4>
            {% if post.start_time != None %}
        <p class="text-capitalize">{{ post.start_time }}</p>
        {% else %}
            <p class="text-capitalize">Not available yet</p>
            {% endif %}

        {% if user.user_level <= 2 %}
            <p>
                <form action="{{ url_for('verify', id =post.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Verify', class="btn btn-primary", style="width:200px;") }}
                </form>
            </p>

        {% elif not post.has_joined(user)  %}
            <p>
                <form action="{{ url_for('join', id =post.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Join', class="btn btn-primary", style="width:200px;") }}
                </form>
            </p>
        {% elif not post.has_joined(user) %}
            <form action="{{ url_for('leave', id=post.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow', class="btn btn-primary", style="width:200px;") }}
            </form>
        {% endif %}


        {% if post.user_id == user.id or user.user_level < 3 %}
            <h2>List of participants</h2>
        {% for user in list_of_participants  %}
                <div><p>{{user.username }} </p></div>
        {% endfor %}
            {% endif %}



            <form action="{{ url_for('delete_event', id=post.id) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='delete') }}
            </form>

        </div>
    </div>
{% endblock %}
