{%  extends "base.html" %}
{% block content %}
<div class="container pt-5">
    <table class="table table-borderless" style="background-color: white;">
        <tr align="top">
            <td class="border" style="white-space:nowrap; width: 1%"><img src="{{ user.avatar(128) }}"></td>
            <td class="border">
                <h1 class="font-weight-bold" style="font-family: candara;">User: {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}

                {% if user.last_seen %}
                    <p style="font-family: candara">Last seen on: {{ user.last_seen }}</p>
                {% endif %}
                {% if user == current_user %}
                    <p style="font-family: candara"><a href="{{ url_for('edit_profile') }}">Edit Profile</a></p>
                {% endif %}
            </td>
        </tr>

    </table>
    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {%  endfor %}
    {% if prev_url %}
            <a href="{{ prev_url }}">Newer events</a>
        {% endif %}
    {% if next_url %}
            <a href="{{ next_url }}">Older events</a>
    {% endif %}
</div>
{% endblock %}
