{% extends "base.html" %}
{% block content %}
     <div class="container pt-5 pb-5 border">
        <div class="jumbotron col-md-4 mx-auto" style="background:transparent;">
            <form method="POST" action="" novalidate>
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center" style="color:white;">
                    <h2 class="font-weight-light">Welcome back!</h2>
                    <h6 class="text-small font-weight-lighter">Sign in to Commservicer</h6>
                </legend>
                <div class="form-group">
                   
                    {{ form.username(class="form-control form-control-md font-weight-lighter", placeholder="Username", style="background-color:transparent !important; color:white;") }}
                    
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password(class="form-control form-control-md font-weight-lighter", placeholder="Password", style="background-color:transparent !important; color:white;") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.remember_me(class="ml-1") }} {{ form.remember_me.label(class="form-control-label small font-weight-light ml-1", style="color:lightgray;") }}
                    <small style="color:lightgray;">
                        <a class="pl-5 ml-4" href="{{ url_for('reset_password_request') }}">Forgot password?</a>
                    </small>
                </div>

              </fieldset>
              <div class="form-group">
                {{ form.submit(class="btn btn-sm btn-primary btn-block") }}
              </div>
            </form>
            <div class="border-top pt-3 text-center">
                <small style="color:lightgray;">
                    Haven't made an account? <a class="ml-2" href="{{ url_for('register') }}">Register Now</a>
                </small>
            </div>

        </div> 
    </div>
{% endblock %}
